.btn-danger {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-deleted {
  background-color: gray;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: not-allowed;
}
