.body {
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height:100vh;
  text-align: center;
  
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.register-title {
  font-size: 26px;
  font-weight: 700;
  color: #222;
  margin-bottom: 20px;
}


.register-form {
  text-align: right;
  display: inline-block;
  text-align: right;
  padding: 39px 35px;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
 
  

}

.form-input,
.form-select {
  width: 100%;
  padding: 8px;
  margin: 6px 0 12px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.2s;
}

.form-input:focus,
.form-select:focus {
  border-color: #0f1011;
  outline: none;
}


.register-btn {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-btn:hover {
  background-color: #4fbae0;
}


.error-text {
  color: red;
  font-size: 13px;
  margin: -5px 0 8px 0;
}


.feedback-msg {
  margin-top: 15px;
  font-weight: 500;
}

.feedback-msg.success {
  color: green;
}

.feedback-msg.error {
  color: red;
}

.divider {
  width: 80%;
  margin: 20px auto;
  border: 0;
  border-top: 1px solid #ddd;
}

.login-link-btn {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-link-btn:hover {
  background-color: #5a6268;
}
